.card {
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    margin-bottom: 1em;

    h2 {
        margin-bottom: 0.5em;
    }

    p {
        margin-bottom: 0.5em;
    }

    &:hover {
        border-color: #646cff;
    }
}
